{% extends "base.html.twig" %}

{% block title %}Palindrome check{% endblock %}

{% block body %}

	<main class="wrapper">

		<h1>Palindrome Checker</h1>


		<i>Enter any string to verify its palindromism and palindrominity</i>

		<form action="" method="get">
			<label for="str">
				<p>{{ str }}{{ msg }}</p>
			</label>
			<input id="str" name="str" type="text">
			<input type="submit" value="Check">
		</form>

	</main>

{% endblock %}
